body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url('./imagenes/fondologueo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100vh;
  padding: 40px 0;
  min-height: 100vh;
  margin: 0;
  background-color: rgb(104, 197, 228);
}

h2 {
  text-align: center;
  color: #333;
}

.container {
  max-width: 400px;
  margin: 0 auto 50px;
  background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco translúcido */
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"] {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btn {
  width: 100%;
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background-color: #2980b9;
}

.link {
  text-align: center;
  margin-top: 10px;
}

.link a {
  color: #3498db;
  text-decoration: none;
}

.link a:hover {
  text-decoration: underline;
}

.captcha {
  margin: 15px 0;
  text-align: center;
  font-style: italic;
}
